.page{
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: 100vh;
}
.Login{
display:flex;
flex-direction: column;
align-items:center;
justify-content:center;
background-image: url(https://images.unsplash.com/photo-1530569673472-307dc017a82d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGJsdWUlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
background-size: cover;
font-family: sans-serif;
font-weight: bold;
}

.Signup{
display:flex;
flex-direction: column;
align-items:center;
justify-content:center;
background-color:grey;
background-color: lightblue;
background-size: cover;
font-family: sans-serif;
font-weight: bold;
}
input{
  border-radius: 1em;
  padding: 0.75em 1em;
  background-color: rgb(235, 235, 235);
  font-weight: bold;
  font-family: sans-serif;
  width: 300px;
  height: 30px;
  margin: 10px;
}


